* {
  margin: 0;
}

/* rama TW     color: #213547;*/
@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 3.2em;
  line-height: 1.1;
  color: #213547;
  font-weight: 700;
}
